# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# IDE / Visual Studio / VS Code
.vscode/
.vs/
.idea/
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj

# OS files
.DS_Store
Thumbs.db
